.deps_plt
.eunit
*.beam
_build
/ebin
/temp

**/doc/*
!**/doc/overview.edoc

/mycache/ebin/Mnesia*
/mycache/ebin/*.beam
/mycache/java/.classpath
/mycache/java/.project
/mycache/java/target

/mydb/bin/*.boot

/tcp/ebin

